<h3><%= @topic.name %></h3>
<h4><%= @topic_option.value %></h4>
<table class='table table-bordered table-hover table-white'>
	<tr>
		<th>ID</th>
		<th>Total Votes</th>
		<% @topic.topic_options.each do |to| %>
			<th><%= to.value %> votes</th>
		<% end %>
		<th>Your Vote</th>
		<th>Actual Belief</th>
	</tr>
	<% @topic_option.submissions.each do |submission| %>
		<tr>
			<td><%= link_to submission.id, submission_url(submission) %></td>
			<td><%= submission.votes.count %></td>
			<% @topic.topic_options.each do |to| %>
				<% if current_user.votes.where(submission_id: submission.id).count > 0 %>
					<td><%= submission.votes.select{|v| v.overall_vote_id == to.id}.count %></td>
				<% else %>
					<td></td>
				<% end %>
			<% end %>
			<% if current_user.votes.where(submission_id: submission.id).count > 0 %>
				<td>
					<% if submission.true_topic_option == current_user.votes.where(submission_id: submission.id).first.overall_vote %>
						<p class="green-text">
					<% else %>
						<p class="red-text">
					<% end %>

					<%= current_user.votes.where(submission_id: submission.id).first.overall_vote.value %>
					</p>
				</td>
				<td>
					<%= submission.true_topic_option.value %>
				</td>
			<% else %>
				<td></td>
				<td></td>
			<% end %>
		</tr>
	<% end %>
</table>
<% if true %>
	<%= link_to 'Edit Topic', edit_topic_path(@topic) %>
<% end %>