<h3><%= @topic.name %></h3>
<table class='table table-bordered table-hover table-white'>
	<tr>
		<th>Position</th>
		<th>Total Submissions</th>
		<% if !ENV["SHOW_RESULTS"].present? || ENV["SHOW_RESULTS"].downcase == "true"%>
        	<th>Submissions submitted as true belief</th>
        <% end %>
	</tr>
	<% @topic.topic_options.each do |to| %>
		<tr>
			<td><%= link_to to.value, topic_url(@topic, topic_option_id: to.id) %></td>
			<td><%= @topic.submissions.select{|s| s.professed_topic_option == to}.count %></td>
			<% if spoiler%>
				<td><span class="spoiler" style="width: 80px; float: left;"><%= @topic.submissions.select{|s| s.professed_topic_option == to && s.true_topic_option == to}.count %></span></td>
			<% else %>
				<% if !ENV["SHOW_RESULTS"].present? || ENV["SHOW_RESULTS"].downcase == "true"%>
					<td><%= @topic.submissions.select{|s| s.professed_topic_option == to && s.true_topic_option == to}.count %></td>
				<% end %>
			<% end %>
		</tr>
	<% end %>
</table>

<table class='table table-bordered table-hover table-white'>
	<tr>
		<th>Vote Now</th>
		<th>Total Votes</th>
		<% if !ENV["SHOW_RESULTS"].present? || ENV["SHOW_RESULTS"].downcase == "true"%>
			<% @topic.topic_options.each do |to| %>
				<th><%= to.value %> votes</th>
			<% end %>
		<% end %>
		<th>Submitted as</th>
		<th>You thought this person actually believed</th>
		<% if !ENV["SHOW_RESULTS"].present? || ENV["SHOW_RESULTS"].downcase == "true"%>
			<th>Actual Belief</th>
		<% end %>
	</tr>
	<% @topic.voted_submissions(current_user).each do |submission| %>
		<tr>
			<td><%= link_to "Already Voted", submission_url(submission) %></td>
			<td><%= submission.votes.count %></td>
			<% if !ENV["SHOW_RESULTS"].present? || ENV["SHOW_RESULTS"].downcase == "true"%>
				<% @topic.topic_options.each do |to| %>
					<td><%= submission.votes.select{|v| v.overall_vote_id == to.id}.count %></td>
				<% end %>
			<% end %>
			<td><%= submission.professed_topic_option.value %></td>
			<td>
				<% if ENV["SHOW_RESULTS"].present? && ENV["SHOW_RESULTS"].downcase != "true"%>
					<p>
				<% elsif submission.true_topic_option == current_user.votes.where(submission_id: submission.id).first.overall_vote %>
					<p class="green-text">
				<% else %>
					<p class="red-text">
				<% end %>

				<%= current_user.votes.where(submission_id: submission.id).first.overall_vote.value %>
				</p>
			</td>
			<% if !ENV["SHOW_RESULTS"].present? || ENV["SHOW_RESULTS"].downcase == "true"%>
				<td>
					<%= submission.true_topic_option.value %>
				</td>
			<% end %>
		</tr>
	<% end %>
	<% @topic.non_voted_submissions(current_user).shuffle.each do |submission| %>
		<tr>
			<% if submission.user == current_user%>
				<td><%= link_to "Your submission", submission_url(submission) %></td>
			<% else %>
				<td><%= link_to "VOTE NOW", submission_url(submission) %></td>
			<% end %>
			<td><%= submission.votes.count %></td>
			<% if !ENV["SHOW_RESULTS"].present? || ENV["SHOW_RESULTS"].downcase == "true"%>
				<% @topic.topic_options.each do |to| %>
					<td></td>
				<% end %>
			<% end %>
			<td><%= submission.professed_topic_option.value %></td>
			<td></td>
			<% if !ENV["SHOW_RESULTS"].present? || ENV["SHOW_RESULTS"].downcase == "true"%>
				<td></td>		
			<% end %>
		</tr>
	<% end %>
</table>
<% if false %>
	<%= link_to 'Edit Topic', edit_topic_path(@topic) %>
<% end %>
