<h3><%= @topic.name %></h3>
<table class='table table-bordered table-hover table-white'>
	<tr>
		<th>Position</th>
		<th>Total Submissions</th>
		<th>Submissions submitted as true belief</th>
	</tr>
	<% @topic.topic_options.each do |to| %>
		<tr>
			<td><%= link_to to.value, topic_url(@topic, topic_option_id: to.id) %></td>
			<td><%= @topic.submissions.select{|s| s.professed_topic_option == to}.count %></td>
			<td><%= @topic.submissions.select{|s| s.professed_topic_option == to && s.true_topic_option == to}.count %></td>
		</tr>
	<% end %>
</table>

<table class='table table-bordered table-hover table-white'>
	<tr>
		<th>ID</th>
		<th>Total Votes</th>
		<% @topic.topic_options.each do |to| %>
			<th><%= to.value %> votes</th>
		<% end %>
		<th>Your Vote</th>
		<th>Actual Belief</th>
	</tr>
	<% @topic.voted_submissions(current_user).each do |submission| %>
		<tr>
			<td><%= link_to submission.id, submission_url(submission) %></td>
			<td><%= submission.votes.count %></td>
			<% @topic.topic_options.each do |to| %>
				<td><%= submission.votes.select{|v| v.overall_vote_id == to.id}.count %></td>
			<% end %>
			<td>
				<% if submission.true_topic_option == current_user.votes.where(submission_id: submission.id).first.overall_vote %>
					<p class="green-text">
				<% else %>
					<p class="red-text">
				<% end %>

				<%= current_user.votes.where(submission_id: submission.id).first.overall_vote.value %>
				</p>
			</td>
			<td>
				<%= submission.true_topic_option.value %>
			</td>
		</tr>
	<% end %>
	<% @topic.non_voted_submissions(current_user).shuffle.each do |submission| %>
		<tr>
			<td><%= link_to "RANDOMIZED", submission_url(submission) %></td>
			<td><%= submission.votes.count %></td>
			<% @topic.topic_options.each do |to| %>
				<td></td>
			<% end %>
			<td></td>
			<td></td>		
		</tr>
	<% end %>
</table>
<% if false %>
	<%= link_to 'Edit Topic', edit_topic_path(@topic) %>
<% end %>
