<table class='table table-bordered table-hover table-white'>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Submissions</th>
      <% if !ENV["SHOW_STATS_LINK"].present? || ENV["SHOW_STATS_LINK"].downcase == "true"%>
        <th>Stats link</th>
      <% end %>
      <% if false %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.name, topic %></td>
        <td><%= topic.submissions.count %></td>
        <% if !ENV["SHOW_STATS_LINK"].present? || ENV["SHOW_STATS_LINK"].downcase == "true"%>
          <td><%= link_to "Stats", topic_stats_url(topic), class: "btn btn-itt" %></td>
        <% end %>
        <% if false%>
          <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
          <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if @show_new_topic %>
  <%= link_to 'New Topic', new_topic_path %>
<% end %>
