<h3><%= @topic.name %></h3>
<table class='table table-bordered table-hover table-white'>
	<tr>
		<th>Topic</th>
		<th>Total submissions</th>
		<th>Truthful submissions</th>
		<th># votes</th>
		<th>% correct votes</th>
		<th>average confidence of correct votes</th>
		<th>average confidence of incorrect votes</th>
	</tr>
		<tr>
			<td><%= link_to @topic.name, topic_url(@topic) %></td>
			<td><%= @topic.submissions.count %></td>
			<td><%= @topic.submissions.select{|s| s.true_topic_option == s.professed_topic_option }.count %></td>
			<% if  @topic.votes.present? %>
				<td><%= @topic.votes.count %></td>
				<td><%= @topic.correct_votes.count / @topic.votes.count %></td>
			<% else %>
				<td>0</td>
				<td>N/A</td>
			<% end %>
			<td><%= @topic.average_confidence_of_correct_votes %></td>
			<td><%= @topic.average_confidence_of_incorrect_votes %></td>
		</tr>
</table>

<h2>Breakdown</h2>
<%= render 'show_all_topic_options', spoiler: false %>

<% if false %>
	<%= link_to 'Edit Topic', edit_topic_path(@topic) %>
<% end %>
