<div id='left-sidebar' class='sidebar'>
  <ul class='dropdown-menu' style="display: block; position: static; width: 100%;">
    <li class='border-bottom'>
      <a href='<%= edit_user_url(current_user) %>'><span class='sidebar-link'><i class='fa fa-user'></i> My Profile</span>
      </a>
    </li>

    <% if !ENV["SHOW_SUBMIT_ANSWER"].present? || ENV["SHOW_SUBMIT_ANSWER"].downcase == "true" %>
      <li>
         <a href="<%= user_my_submissions_url(current_user) %>">Submit an Answer</a> 
      </li>
    <% end %>
    
    <% if !ENV["SHOW_JUDGE_ANSWERS"].present? || ENV["SHOW_JUDGE_ANSWERS"].downcase == "true" %>
      <li>
         <a href="<%= topics_url %>">Judge Answers</a> 
      </li>
    <% end %>

    <% if !ENV["SHOW_RESULTS"].present? || ENV["SHOW_RESULTS"].downcase == "true" %>
      <li>
         <a href="<%= topics_url %>">Results by Topic</a> 
      </li>
    <% end %>
    
    <% if (!ENV["SHOW_JUDGE_ANSWERS"].present? || ENV["SHOW_JUDGE_ANSWERS"].downcase == "true")  ||
      (!ENV["SHOW_RESULTS"].present? || ENV["SHOW_RESULTS"].downcase == "true") %>
      <li>
        <a href="<%= votes_url %>">My Vote History</a>
      </li>
    <% end %>

    <% if false %>
      <li>
        <a href="<%= user_change_password_url(current_user) %>">Change Password</a>
      </li>
    <% end%>
  </ul>
</div>