<table class='table table-bordered table-hover table-white'>
  <thead>
    <tr>
      <th>Topic</th>
      <th>ID</th>
      <th>Written as...</th>
      <th>But I actually believe...</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.topic.name %></td>
        <td><%= submission.id %></td>
        <td><%= submission.professed_topic_option.value %></td>
        <td><%= submission.true_topic_option.value %></td>
        <td><%= link_to 'View', submission %></td>
        <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submission', new_submission_path %>
