<h3>Topic: <%= @submission.topic.name%></h3>
<h4>Submission author claims to believe: <%= @submission.professed_topic_option.value %></h4>

<div class="row">
	<div class="panel panel-default col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
		<div class="panel-body">
			<p>
				<%= @submission.content.html_safe %>
			</p>
		</div>
	</div>
</div>
<% if !ENV["SHOW_JUDGE_ANSWERS"].present? || ENV["SHOW_JUDGE_ANSWERS"].downcase == "true" %>
	<% if current_user == @submission.user %>
		<p>You submitted this response at <%= @submission.created_at %></p>
		<%= render '/votes/summary', vote: nil %>
	<% elsif current_user.votes.where(submission_id: @submission.id).count > 0%>
		<%= render '/votes/summary', vote: current_user.votes.where(submission_id: @submission.id).first %>
	<% else %>
		<%= render '/votes/form'%>
	<% end %>
<% end %>
