<%= form_for(@vote || Vote.new) do |f| %>
  
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :submission_id, value: @submission.id %>
  <div class="row">
    <div class="form-group col-md-6 col-sm-6 no-pad-right">
      <%= f.label "I think the author is really a..."%>
      <%= f.collection_select :overall_vote_id, @submission.topic.topic_options, :id, :value, prompt: "Actual Belief..." %>
    </div>
    <div class="form-group col-md-6 col-sm-6 no-pad-right">
      <%= f.label "Confidence (out of 100)"%><br>
      <%= f.number_field :confidence, placeholder: "99" %>
    </div>
  </div>  
  <div class="actions">
    <%= f.submit "Vote", class: 'btn btn-itt pull-right' %>
  </div>
<% end %>
