<p>You thought this person held the <%= vote.overall_vote.value %> ideology with <%= vote.confidence %>% confidence</p>
<p>This person actually held the <%= @submission.true_topic_option.value %> ideology.  <%= @submission.percentage_of_correct_votes %>% of people correctly identified the author's ideology, with an average confidence of <%= @submission.average_confidence_of_correct_votes %>%
  </p>

  <p>Those who incorrectly identified the author's ideology were on average <%= @submission.average_confidence_of_incorrect_votes %>% confident in their incorrect guess</p>
