<h1>My Votes</h1>

<table class='table table-bordered table-hover table-white'>
  <thead>
    <tr>
      <th>Submission</th>
      <th>My Vote</th>
      <th>My Confidence</th>
      <% if !ENV["SHOW_RESULTS"].present? || ENV["SHOW_RESULTS"].downcase == "true"%>
        <th>Correct Answer</th>
        <th>Percentage of correct voters</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= link_to "Submission #{vote.submission.id}", submission_url(vote.submission) %></td>
        <% if ENV["SHOW_RESULTS"].present? && ENV["SHOW_RESULTS"].downcase != "true"%>
          <td><%= vote.overall_vote.value %></td>
        <% elsif vote.overall_vote == vote.submission.true_topic_option %>
          <td class="green-text"><%= vote.overall_vote.value %></td>
        <% else %>
          <td class="red-text"><%= vote.overall_vote.value %></td>
        <% end %>
        <td><%= vote.confidence.to_i %>%</td>
        <% if !ENV["SHOW_RESULTS"].present? || ENV["SHOW_RESULTS"].downcase == "true"%>
          <td><%= vote.submission.true_topic_option.value %></td>
          <td><%= (100 * vote.submission.percentage_of_correct_votes).to_i %>%</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
