<!DOCTYPE html>
<html>
<head>
  <title>Ideological Turing Test</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "rails.validations", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "//www.google.com/jsapi" %>
  <%= favicon_link_tag 'favicon.png' %>


  <%= csrf_meta_tags %>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

<body>
<div id="wrap">
  <div id="main">

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="header-logo">
          <%= link_to image_tag('logo.jpg', width: '50px'), "https://en.wikipedia.org/wiki/Alan_Turing", 'data-no-turbolink' => true %>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" style='padding-left: 55px;'>
            <% if current_user.present? %>
              <li> <%= link_to "My Profile", user_path(current_user), 'data-no-turbolink' => true %></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user.present? %>
              <li><%= link_to "Sign Out <i class='fa fa-sign-out'></i>".html_safe, destroy_user_session_path, method: "delete" %></li>
            <% else %>
              <li><%= link_to "Sign In", new_user_session_url, 'data-no-turbolink' => true %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
	  <% if current_user.present? %>
	    <div class='col-md-2 col-sm-2'>
	    	<%= render '/users/sidebar' %>
	    </div>
	  <% end %>
	  <div class='col-md-10 col-sm-10'>
    	<%= yield %>
    </div>
  </div>
</div>


<footer class='col-md-12 col-sm-12 no-pad footer'>
  <div id='footer'>


      <div class='col-md-12 col-sm-12 col-sm-12'>
        <center>
          <ul class='inline-list unstyled'>
            <li><%= link_to 'Home', root_url, 'data-no-turbolink' => true  %>  </li>  |
            <li><%= link_to 'Ideological Turing Test', "https://en.wikipedia.org/wiki/Ideological_Turing_Test", 'data-no-turbolink' => true  %>  </li>

            <% if current_user.present? %>
            |
              <li><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %></li>
            <% end %>
          </ul>
       </center>
      </div>


  </div>
</footer>
<%= render '/layouts/tracking' %>
</body>
</html>
